@page "/inventario"
@using Shared.Models
<PageTitle>Inventario</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Editar</th>
            <th>Eliminar</th>
      
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Stock</td>
                <td>$@product.Price</td>
                <td>@product.Category</td>
                <td>
                    <button class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> products;

    protected override void OnInitialized()
    {
        products = new List<Product>
        {
            new Product { ProductId = 1, Name = "Producto 1", Price = 10.00m, Stock = 50, Category = "General", Discount = 0.50m },
            new Product { ProductId = 2, Name = "Producto 2", Price = 20.00m, Stock = 30, Category = "Frutas", Discount = 0.20m },
            new Product { ProductId = 3, Name = "Producto 3", Price = 30.00m, Stock = 20, Category = "Sandwiches", Discount = 0.75m },
            new Product { ProductId = 4, Name = "Producto 4", Price = 40.00m, Stock = 10, Category = "Dulces", Discount = 0m },
            new Product { ProductId = 5, Name = "Producto 5", Price = 55.00m, Stock = 5, Category = "Vegetales", Discount = 0.12m },
            new Product { ProductId = 6, Name = "Producto 6", Price = 35.00m, Stock = 55, Category = "esomimo", Discount = 0.14m },
            new Product { ProductId = 7, Name = "Producto 7", Price = 45.00m, Stock = 22, Category = "aja", Discount = 0.15m },
            new Product { ProductId = 8, Name = "Producto 8", Price = 55.00m, Stock = 11, Category = "blahblah", Discount = 0.17m }
        };
    }

  
}
