@inherits LayoutComponentBase

<div class="page">
    <div>
        <Headers></Headers>
    </div>

    <main class="content-container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content-container {
        flex-grow: 1;
        padding-top: 80px; /* Ajusta el espacio vertical según sea necesario */
    }
</style>
